:root {
  --light: #f5dacf;
  --orange: #CF7239;
  --brown: #6f3317;
  --dark: #45423d;
}

.App {
  text-align: center;
}

body {
  background-color: #000000;
opacity: 0.9;
background-image:  linear-gradient(#e0de63 3.7px, transparent 3.7px), linear-gradient(to right, #e0de63 3.7px, #000000 3.7px);
background-size: 74px 74px;
}

/*header*/
nav {
  background-color: var(--orange);
}
