/*imports*/
@import url(https://fonts.google.com/specimen/Audiowide?query=audio);
:root {
  --light: #f5dacf;
  --orange: #CF7239;
  --brown: #6f3317;
  --dark: #45423d;
}

.App {
  text-align: center;
}

body {
  background-color: #000000;
opacity: 0.8;
background-image:  linear-gradient(#27f75e 3.5px, transparent 3.5px), linear-gradient(to right, #27f75e 3.5px, #000000 3.5px);
background-size: 70px 70px;
}

/*header*/
header {
  background-color: green;

}

/*footer*/

h1 {
  color:azure;
}