:root {
  --light: #f5dacf;
  --orange: #CF7239;
  --brown: #6f3317;
  --dark: #45423d;
}

.App {
  text-align: center;
}

body {
  background-color: var(--brown);
}

/*header*/
nav {
  background-color: var(--orange);
}
